<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <button class="header__open-sidebar-btn sidebar-toggle-btn">
        <img
          class="sidebar-toggle-btn__icon"
          src="<%= require('./assets/sidebar-icon.svg') %>"
          alt=""
        />
      </button>
    </header>

    <!-- SIDEBAR -->
    <aside class="sidebar">
      <div class="sidebar__top">
        <button class="sidebar__close-sidebar-btn sidebar-toggle-btn">
          <img
            class="sidebar-toggle-btn__icon"
            src="<%= require('./assets/sidebar-icon.svg') %>"
            alt=""
          />
        </button>
      </div>
      <div class="sidebar-main">
        <ul class="sidebar__list sidebar__list--nav">
          <li class="nav-list-item__inbox">
            <img
              class="nav-list__list-icon"
              src="<%= require('./assets/inbox-icon.svg') %>"
              alt=""
            />
            <div class="nav-list__list-text">Inbox</div>
          </li>
          <li class="nav-list-item__today">
            <img
              class="nav-list__list-icon"
              src="<%= require('./assets/today-icon.svg') %>"
              alt=""
            />
            <div class="nav-list__list-text">Today</div>
          </li>
          <li class="nav-list-item__upcoming">
            <img
              class="nav-list__list-icon"
              src="<%= require('./assets/upcoming-icon.svg') %>"
              alt=""
            />
            <div class="nav-list__list-text">Upcoming</div>
          </li>
          <li class="nav-list-item__completed">
            <img
              class="nav-list__list-icon"
              src="<%= require('./assets/completed-icon.svg') %>"
              alt=""
            />
            <div class="nav-list__list-text">Completed</div>
          </li>
        </ul>
        <div class="sidebar__project-menu">
          <h2 class="project-menu__title">My Projects</h2>
          <div class="project-menu__buttons">
            <button class="project-menu__btn project-menu__btn--add-project">
              <img
                class="project-menu__btn-icon project-menu__btn-icon--add-project"
                src="<%= require('./assets/add-btn-icon--black.svg') %>"
                alt=""
              />
            </button>
            <button class="project-menu__btn project-menu__btn--dropdown">
              <img
                class="project-menu__btn-icon project-menu__btn-icon--dropdown"
                src="<%= require('./assets/drop-down-icon.svg') %>"
                alt=""
              />
            </button>
          </div>
        </div>
        <ul class="sidebar__list sidebar__list--project"></ul>
      </div>
    </aside>

    <!--  MAIN  -->
    <main class="main"></main>
  </body>
</html>
