:root {
  --header-height: 50px;
  --pri-font-color: #202020;
  --sec-font-color: #666666;

  --task-divider-color: #d4d4d4;
  --form-border-color: #e6e6e6;
  --form-submit-btn-clr: #a4a9b0;
  --form-submit-btn-validation-clr: #4a5462;

  --complete-task-btn-priority-1-clr: #d1453b;
  --complete-task-btn-priority-2-clr: #eb8909;
  --complete-task-btn-priority-3-clr: #246fe0;

  --toggle-sidebar-btn-clr: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: -apple-system, system-ui, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/*
  ----- HEADER -----
*/

.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 5px 0 0 15px;
}

.sidebar-toggle-btn {
  height: 32px;
  width: 32px;
  display: grid;
  place-items: center;
  background-color: var(--toggle-sidebar-btn-clr);
  border: none;
  border-radius: 5px;
}

.sidebar-toggle-btn__icon {
  width: 20px;
  height: 20px;
}

.sidebar-toggle-btn:hover {
  cursor: pointer;
}

.sidebar-main {
  padding: 0 12px;
}

.sidebar__list {
  list-style: none;
}

/*
  ----- SIDEBAR -----
*/

.sidebar {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 280px;
  background-color: rgb(246, 246, 246);
  left: -280px;
  transition: 300ms;
  color: var(--pri-font-color);
  font-weight: 400;
  font-size: 14px;
}

.active {
  left: 0;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.3);
}

/* ----- SIDEBAR TOP ----- */

.sidebar__top {
  padding: 12px;
  display: flex;
}

.sidebar__close-sidebar-btn {
  margin-left: auto;
  justify-self: flex-end;
}

/* ----- SIDEBAR MAIN ----- */

.sidebar-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ----- SIDEBAR NAV LIST ----- */

.sidebar__list--nav > li {
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-template-rows: 24px;
  align-items: center;
}

.nav-list__list-icon {
  height: 20px;
  width: 20px;
}

.nav-list__list-text {
  padding-left: 2px;
}

/* ----- SIDEBAR PROJECT MENU ----- */

.sidebar__project-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-menu__title {
  font-size: 14px;
  color: #666666;
  font-weight: 600;
}

.project-menu__buttons {
  display: flex;
  align-items: center;
}

.project-menu__btn {
  border: none;
  background-color: transparent;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-menu__btn-icon {
  height: 20px;
  width: 20px;
}

.project-menu__btn-icon--dropdown {
  height: 15px;
  width: 15px;
  transform: rotate(90deg);
}

/* ----- SIDEBAR PROJECT LIST ----- */

.project-list__item {
  display: flex;
  gap: 5px;
  align-items: center;
}

.project-list-item__icon {
  font-size: 20px;
}
/*
  ----- MAIN -----
*/

.main {
  padding: 0 50px;
  height: 100%;
  color: var(--pri-font-color);
}

/*
  ----- SECTION LIST -----
*/

.section__title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}

.section-list {
  list-style-type: none;
}

.section-list__task {
  display: flex;
  gap: 10px;
}

.task__toggle-task-complete-btn {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 1px solid gray;
  background-color: white;
}

.task__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task__name {
  font-size: 14px;
}

.task__description {
  font-size: 12px;
  color: var(--sec-font-color);
}

.task__due-date {
  font-size: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.due-date__icon {
  height: 12px;
  width: 12px;
}

.section-list__task-divider {
  color: var(--task-divider-color);
  background-color: var(--task-divider-color);
  border: none;
  height: 1px;
  margin: 10px 0;
}

/*
  ----- ADD TASK BUTTON -----
*/

.section-list__add-task-btn {
  color: gray;
  font-size: 14px;
  display: flex;
  gap: 10px;
  border: none;
  background-color: white;
  align-items: center;
}

.add-task-btn__img {
  height: 18px;
  width: 18px;
}

.section-list__add-task-btn:hover {
  cursor: pointer;
  color: #495e71;
}

.section-list__add-task-btn:hover > .add-task-btn__img {
  background-color: #495e71;
  border-radius: 50%;
}

/*
  ----- ADD TASK FORM -----
*/

.add-task-form {
  display: flex;
  flex-direction: column;
  color: #e6e6e6;
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--sec-font-color);
  border-radius: 10px;
}

.add-task-form__top-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-task-form__input {
  border: none;
  outline: none;
}

.add-task-form__input--name {
  font-size: 14px;
}

.add-task-form__input--description {
  font-size: 13px;
}

/* ----- ADD TASK FORM MIDDLE ------ */
.add-task-form__middle-section {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  color: var(--sec-font-color);
}

.add-task-form__middle-section > * {
  width: 88px;
  height: 28px;
  font-size: 13px;
  border: 2px solid var(--form-border-color);
  border-radius: 5px;
  padding: 0 6px;
}

.add-task-form__input--due-date {
  font-size: 9px;
  color: var(--sec-font-color);
  outline: none;
}

.add-task-form__input--priority-selector {
  font-size: 11.5px;
  color: var(--sec-font-color);
  outline: none;
}

/* ----- ADD TASK FORM BOTTOM ----- */
.add-task-form__divider {
  color: var(--form-border-color);
  background-color: var(--form-border-color);
  border: none;
  height: 1px;
  margin: 0 -10px;
}

.add-task-form__bottom-section {
  display: flex;
  font-size: 13px;
}

.add-task-form__input--project-selector {
  height: 32px;
  width: 108px;
  padding: 0 8px;
  font-size: 13px;
  color: var(--sec-font-color);
}

.add-task-form__submit-buttons {
  display: flex;
  font-size: 13px;
  margin-left: auto;
  gap: 10px;
}

.submit-buttons__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  height: 32px;
  width: 32px;
}

.submit-buttons__button--cancel {
  background-color: #f5f5f5;
}

.submit-buttons__button--submit {
  background-color: var(--form-submit-btn-clr);
}

.submit-button__icon {
  height: 20px;
  width: 20px;
}

.cancel-button__icon {
  height: 20px;
  width: 20px;
}

/* ----- ADD TASK FORM END ----- */
