:root {
  --header-height: 50px;
  --pri-font-color: #202020;
  --sec-font-color: #666666;

  --task-divider-color: #d4d4d4;
  --form-border-color: #e6e6e6;
  --form-submit-btn-clr: #a4a9b0;
  --form-submit-btn-validation-clr: #4a5462;

  --complete-task-btn-priority-1-clr: #d1453b;
  --complete-task-btn-priority-2-clr: #eb8909;
  --complete-task-btn-priority-3-clr: #246fe0;

  --toggle-sidebar-btn-clr: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: -apple-system, system-ui, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/*
  ----- HEADER -----
*/

.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 5px 0 0 15px;
}

.sidebar-toggle-btn {
  height: 32px;
  width: 32px;
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.sidebar-toggle-btn__icon {
  width: 20px;
  height: 20px;
}

.sidebar-toggle-btn:hover {
  cursor: pointer;
}

.sidebar-main {
  padding: 0 12px;
}

.sidebar__list {
  list-style: none;
}

.header__edit-user-project-btn {
  height: 32px;
  width: 26px;
  background-color: transparent;
  border: none;
  font-size: 7px;
  font-weight: 700;
  color: #666;
  border-radius: 5px;
  margin: 0 30px 0 auto;
  display: none;
}

.header__edit-user-project-btn:hover {
  background-color: #f5f5f5;
  color: black;
  cursor: pointer;
}

.edit-project-menu {
  position: absolute;
  height: 90px;
  width: 200px;
  border: none;
  border-radius: 10px;
  right: 20px;
  top: 50px;
  background: rgba(255, 255, 255);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  font-size: 13px;
  color: var(--pri-font-color);
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: none;
}

.edit-project-menu__item {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

.edit-project-menu__item:hover {
  background-color: #eee;
}

.menu-item__icon {
  height: 24px;
  width: 24px;
}

.menu-item__icon--delete {
  height: 20px;
  width: 20px;
}

.menu-item__text--delete {
  color: red;
}
/*
  ----- SIDEBAR -----
*/

.sidebar {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 280px;
  background-color: rgb(246, 246, 246);
  left: -280px;
  transition: 300ms;
  color: var(--pri-font-color);
  font-weight: 400;
  font-size: 14px;
}

.active {
  left: 0;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.3);
}

/* ----- SIDEBAR TOP ----- */

.sidebar__top {
  padding: 12px;
  display: flex;
}

.sidebar__close-sidebar-btn {
  margin-left: auto;
  justify-self: flex-end;
}

/* ----- SIDEBAR MAIN ----- */

.sidebar-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ----- SIDEBAR NAV LIST ----- */

.sidebar__list--nav > li {
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-template-rows: 24px;
  align-items: center;
}

.sidebar__list--nav > li:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.nav-list__list-icon {
  height: 20px;
  width: 20px;
}

.nav-list__list-text {
  padding-left: 2px;
}

/* ----- SIDEBAR PROJECT MENU ----- */

.sidebar__project-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__project-menu:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.project-menu__title {
  font-size: 14px;
  color: #666666;
  font-weight: 600;
}

.project-menu__buttons {
  display: flex;
  align-items: center;
}

.project-menu__btn {
  border: none;
  background-color: transparent;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-menu__btn:hover {
  cursor: pointer;
}

.project-menu__btn-icon {
  height: 20px;
  width: 20px;
}

/* ----- SIDEBAR PROJECT LIST ----- */

.project-list__item {
  display: flex;
  gap: 5px;
  align-items: center;
}

.project-list__item:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.project-list-item__icon {
  font-size: 20px;
}

/* ----- END SIDEBAR ----- */

/*
  ----- MAIN -----
*/

.main {
  padding: 0 50px;
  height: 100%;
  color: var(--pri-font-color);
  transition: 300ms;
}

/*
  ----- SECTION TASK LIST -----
*/

.section__title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 30px;
}

.section-list {
  list-style-type: none;
}

.section-list__task {
  display: flex;
  gap: 10px;
}

.section-list__task:hover {
  cursor: pointer;
}

.task__toggle-task-complete-btn {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 1px solid gray;
  background-color: white;
}

.task__toggle-task-complete-btn:hover {
  cursor: pointer;
  background-color: #e5e5e5;
}

.task__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task__name {
  font-size: 14px;
}

.task__description {
  font-size: 12px;
  color: var(--sec-font-color);
}

.task__due-date {
  font-size: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.due-date__icon {
  height: 12px;
  width: 12px;
}

.section-list__task-divider {
  color: var(--task-divider-color);
  background-color: var(--task-divider-color);
  border: none;
  height: 1px;
  margin: 10px 0;
}

/*  ----- UPCOMING SECTION STYLES -----  */

.section__day-sections {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.day-section__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
}
.section-list__title-divider {
  color: var(--task-divider-color);
  background-color: var(--task-divider-color);
  border: none;
  height: 1px;
  margin: 3px 0 10px 0;
}

/*  ----- COMPLETED SECTION STYLES -----  */

.section__day-sections--completed {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-list__completed-task {
  display: flex;
  gap: 10px;
  align-items: center;
}

.completed-task__icon {
  height: 50px;
  width: 50px;
}

.completed-task__info {
  font-size: 14px;
  color: var(--pri-font-color);
}

.completed-task-info__user {
  font-weight: 700;
}

.completed-task-info__task-name {
  color: #999;
}

/* DEFAULT MESSAGE STYLES */
.completed-section__empty-message {
  font-size: 15px;
  color: var(--pri-font-color);
}

.completed-task-section__default-message-divider {
  color: var(--task-divider-color);
  background-color: var(--task-divider-color);
  border: none;
  height: 1px;
  margin: 10px 0;
}

/*
  ----- ADD TASK BUTTON -----
*/

.section-list__add-task-btn {
  color: gray;
  font-size: 14px;
  display: flex;
  gap: 10px;
  border: none;
  background-color: white;
  align-items: center;
}

.add-task-btn__img {
  height: 18px;
  width: 18px;
}

.section-list__add-task-btn:hover {
  cursor: pointer;
  color: #495e71;
}

.section-list__add-task-btn:hover > .add-task-btn__img {
  background-color: #495e71;
  border-radius: 50%;
}

/*
  ----- ADD TASK FORM -----
*/

.add-task-form {
  display: flex;
  flex-direction: column;
  color: #e6e6e6;
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--sec-font-color);
  border-radius: 10px;
}

.add-task-form__top-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-task-form__input {
  border: none;
  outline: none;
}

.add-task-form__input--name {
  font-size: 14px;
}

.add-task-form__input--description {
  font-size: 13px;
}

/* ----- ADD TASK FORM MIDDLE ------ */
.add-task-form__middle-section {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  color: var(--sec-font-color);
}

.add-task-form__middle-section > * {
  width: 88px;
  height: 28px;
  font-size: 13px;
  border: 2px solid var(--form-border-color);
  border-radius: 5px;
  padding: 0 6px;
}

.add-task-form__input--due-date {
  font-size: 9px;
  color: var(--sec-font-color);
  outline: none;
}

.add-task-form__input--priority-selector {
  font-size: 11.5px;
  color: var(--sec-font-color);
  outline: none;
}

.add-task-form__input--due-date:hover,
.add-task-form__input--priority-selector:hover {
  cursor: pointer;
}

/* ----- ADD TASK FORM BOTTOM ----- */
.add-task-form__divider {
  color: var(--form-border-color);
  background-color: var(--form-border-color);
  border: none;
  height: 1px;
  margin: 0 -10px;
}

.add-task-form__bottom-section {
  display: flex;
  font-size: 13px;
}

.add-task-form__input--project-selector {
  height: 32px;
  width: 108px;
  padding: 0 8px;
  font-size: 13px;
  color: var(--sec-font-color);
}

.add-task-form__input--project-selector:hover {
  cursor: pointer;
}

.add-task-form__submit-buttons {
  display: flex;
  font-size: 13px;
  margin-left: auto;
  gap: 10px;
}

.submit-buttons__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  height: 32px;
  width: 32px;
}

.submit-buttons__button--cancel {
  background-color: #f5f5f5;
}

.submit-buttons__button--cancel:hover {
  cursor: pointer;
  background-color: #e5e5e5;
}

.submit-buttons__button--submit {
  background-color: var(--form-submit-btn-clr);
}

.submit-button__icon {
  height: 20px;
  width: 20px;
}

.cancel-button__icon {
  height: 20px;
  width: 20px;
}

/* ----- ADD TASK FORM END ----- */

/*
  ----- ADD PROJECT MODAL -----
*/

.add-project-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* height: 300px; */
  width: 85%;
  max-width: 760px;
  border-radius: 10px;
  border: none;
  color: var(--pri-font-color);
  font-size: 14px;
}

.add-project-modal::backdrop {
  background-color: rgb(32, 32, 32, 0.6);
}

.add-project-modal__header {
  padding: 16px 8px;
}

.add-project-modal__title {
  font-size: 20px;
  font-weight: 600;
}

.add-project-modal__divider {
  color: rgb(221, 221, 221);
  background-color: rgb(221, 221, 221);
  border: none;
  height: 1px;
}

.add-project-modal__divider--bottom {
  margin: 0 -16px;
}

.modal__add-project-form {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-project-form__item {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.add-project-form__label {
  font-weight: 700;
}

.add-project-form__input,
.add-project-form__selector {
  padding: 4px;
  font-weight: 400;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(221, 221, 221);
}

.add-project-form__input:focus,
.add-project-form__selector:focus {
  border: 1px solid rgb(128, 128, 128);
}

.add-project-form__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.add-project-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 13px;
  border-radius: 5px;
  height: 32px;
  padding: 0 12px;
  min-width: 68px;
  font-weight: 500;
}

.add-project-form__button--cancel-button {
  background-color: rgb(245, 245, 245);
  color: rgb(68, 68, 68);
}

.add-project-form__button--cancel-button:hover {
  background-color: rgb(229, 229, 229);
  color: rgb(26, 26, 26);
}

.add-project-form__button--add-button {
  background-color: rgb(164, 169, 176);
  color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .active {
    box-shadow: none;
  }

  .section {
    max-width: 800px;
    margin: 0 auto;
  }
}
